{% extends 'base.html' %}
{% load static %}


{% block body_block %}




<br /><br /> <br /> <br /> <br />
 <h1 align="center">Lost says...</h1>
    <div class ="top"  style="width: 100%;height: 80px;">

    <div class="col-md-12 column">
			<ul  class="breadcrumb">
				<li>
					 <a href="/total_page/">Home</a>
				</li>

				<li class="active">
					 <a href="/lost/">Lost</a>
				</li>
			</ul>
    </div>
    </div>
    <!-- 去掉这个页面刷新函数 -->
    <!--<script>
        $(document).ready(
            function(){
                function refresh(){
                    $.getJSON("data_fresh/",function(ret){
                    $('#result1').html(ret.data1);
                    $('#result2').html(ret.data2);
                })
                }
                setInterval(refresh,3000)
            }
        )
    </script>
    -->
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
        </script>

    <script>
    $(document).ready(function(){
        var btn = document.getElementById("btn");
        $(btn).click(function(){
            var tmp_data = btn.innerHTML;
            $("#div1").load("make/"+(tmp_data)+'/');
            //  这里的标签完全可以修改成为之前dd里面的数据
            //  这样就可以完成动态查找！ 对  只需要查找一个标签就可以！
        });
});

</script>
    {% for kind in kinds %}
        <button  id="btn">{{ kind.slug }}</button>
        <div id="div1"><h2></h2></div>
    {% endfor %}

    <div id="result1">
    </div>
    <div id="result2">
    </div>

    <!-- 下面是展示类别框框-->
    <!--
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
                            <div class="row">
                            {% for kind in kinds %}
                                                <div class="col-md-4">
                                                    <div class="thumbnail">
                                                        <img alt="300x200" src="/static/images/1.jpg" />
                                                        <div class="caption">
                                                            <h3>
                                                                {{ kind.slug }}
                                                            </h3>
                                                            <p>{{ kind.name }}
                                                            </p>
                                                            <p>
                                                                 <a class="btn btn-primary" href="kind/{{ kind.slug }}/">See</a> <a class="btn" href="kind/{{ kind.slug }}/">Action</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                            {% endfor %}
                            </div>

	    </div>
    </div>
    </div>
    -->

    <div style="text-align:center"> <img src="{% static "images/1.PNG" %}"  alt="Picture of Django" /></div>
        <li align="center" ><a href="/lost/add_kind/">Add a New Kind</a></li>
    <div align="center" class="row clearfix">
                <div class="col-md-12 column">
                    <ul class="pagination">
                        <li>
                             <a href="#">Prev</a>
                        </li>
                        <li>
                             <a href="#">1</a>
                        </li>
                        <li>
                             <a href="#">2</a>
                        </li>
                        <li>
                             <a href="#">3</a>
                        </li>
                        <li>
                             <a href="#">4</a>
                        </li>
                        <li>
                             <a href="#">5</a>
                        </li>
                        <li>
                             <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>

{% endblock %}