{% extends 'base.html' %}
{% load static %}

{% block body_block %}

        <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{% static "images/11.jpg" %}" alt="First slide">

                <div class="container">
                    <div class="carousel-caption">
                      <h1>Example headline.</h1>
                      <p>what are you doing ?</p>
                      <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
        </div>>


        <div class="item">
          <img class="second-slide" src="{% static "images/12.jpg" %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Homework_2</h1>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="third-slide" src="{% static "images/13.jpg" %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Homework_3</h1>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


    </div><!-- /.carousel -->
        {% if user.is_authenticated %}
                <h1>Wu says...</h1>
                hello world! <br />
                <a href="/lost/">lost_page</a><br />
                <a href="/found/">found_page</a><br />

        </br>

                <a href="/total_page/restricted/">Restricted Page</a><br />
        {% else %}
            <h1>Wu says...</h1>
                hello world! <br />
                If you want to se things , please LOGIN. <br />
            <a href="/total_page/restricted/">Restricted Page</a><br />
        {% endif %}
</br>
{% endblock %}
