{% extends 'base.html' %}


{% block body_block %}
    <br/><br/><br/><br/><br/><br/>
        {% if user.is_authenticated %}
                <h1>Wu says...</h1>
                hello world! <br />
                <a href="/lost/">lost_page</a><br />
                <a href="/found/">found_page</a><br />

        </br>

                <a href="/total_page/restricted/">Restricted Page</a><br />
        {% else %}
            <h1>Wu says...</h1>
                hello world! <br />
                If you want to se things , please LOGIN. <br />
            <a href="/total_page/restricted/">Restricted Page</a><br />
        {% endif %}
</br>
{% endblock %}
