{% extends 'base.html' %}

{% block body_block %}
<br /><br /> <br /> <br /> <br />
<form style="text-align:center" role='form' id="page_form" method="post" action="{% url 'add_page' kind.slug %}">
        <br role='form' id="page_form" method="post" action="{% url 'add_page' kind.slug %}">
            <h2 class="form-signin-heading">Add a Page to <a href="/found/kind/{{kind.slug}}/"> {{ kind.name }}</a></h2>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <br/> <br/> <br/>
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                <br/>
                 <br/>
                {{ field }}
                <br/>
                 <br/>
            {% endfor %}


        <br/> <br/> <br/>
            <button class="btn btn-primary" type="submit" name="submit" value="Create Page">Create Page</button>
        </form>
{% endblock %}